/***** COMMON *****/

html, body {
    margin-top: 3rem;
}

body {
    font-family: Roboto, Helvetica, Arial sans-serif;
    font-size: 19px;
    color: #333;
}

@media (max-width: 772px) {
    *[class^='col-']{
        /*padding-right: 0;*/
    }
}

h1 {
    font-size: 1.25rem;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}


/***** NAVBAR *****/

.navbar {
    min-height: 50px;
}

nav li {
    font-size: .875rem;
    font-weight: bold;
}

.slogan {
    font-size: .8rem;
}

.subscription {
    margin-left: 3rem;
    padding-top: .7rem;
    padding-bottom: 0;
}

.subscription button {
    background-color: #ff5c4a;
    color: #fff;
    border: none;
}

.subscription button:hover {
    background-color: #f05846;
}

/***** SORTING *****/

.sorting-filters {
    font-size: .8rem;
    color: #999;
    font-weight: bold;
    padding-left: 3rem;
    padding-right: .2rem;
}

.sorting-filters .active {
    color: #333;
}

.sorting-filter {
    cursor: pointer;
}


/***** FILTERS *****/

.filters {
    padding-top: .75rem;
    /*height: 100vh;*/
    /*overflow: hidden;*/
    /*overflow-y: scroll;*/
}

@media (min-width: 992px) {
    .filters {
        padding-right: 2rem;
        border-right: 1px solid #ececec;
    }
}

@media (max-width: 768px) {
    .filters {
        padding-right: 15px;
    }

    .filters .col-4 {
        padding-right: 5px;
        padding-left: 5px;
    }

    .filters .col-4:first-of-type {
        padding-left: 15px;
    }

    .filters .col-4:last-of-type {
        padding-right: 15px;
    }

    .filters .input-group.city {
        padding-bottom: 2rem;
    }
}

.filters a {
    text-decoration: none;
}

.filter-group {
    margin-bottom: 2rem;
}

.filter {
    border: 1px solid #e3e3e3;
    text-align: center;
    font-size: calc(0.55em + 0.2vw);
    /*text-transform: uppercase;*/
    padding: .5rem 0;
    border-radius: 5px;
    font-weight: 900;
    /*background-color: #df3a5b;*/
    color: #324D5C;
    background-color: #f1f1f1;
    cursor: pointer;
}

.filter:hover {
    text-decoration: none;
    background-color: #e8e8e8;
}

.filters .month {
    border: 1px solid #e3e3e3;
    font-size: .7rem;
    border-right: none;
}

.months .filter {
    border-radius: 0;
}

.months .col-1:first-of-type .month {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.months .col-1:last-of-type .month {
    border-right: 1px solid #e3e3e3;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.filters input {
    font-size: .9rem;
}

.filter.button.active {
    background-color: #e6616d;
    color: #fff;
}

.months {
    padding: 0 15px;
}

.months > div {
    padding: 0;
}

.about {
    font-size: .85rem;
    color: #888;
}

.about a {
    color: #444;
    font-weight: bold;
}

/***** CONFERENCES *****/

.conferences {
    padding-left: 2rem;
    padding-right: 2rem;
}

@media (min-width: 992px) {
    .conferences {
        height: 100vh;
        overflow: hidden;
        overflow-y: scroll;
    }
}

.conference {
    border-bottom: 1px solid #ececec;
    padding: .75rem 0;
}

.conference .name {
    color: #DE5B49;
}

.conference .location {
    font-size: .85rem;
    color: #324D5C !important;
}

.conference .date {
    font-size: .8rem;
    padding: .5rem 0;
}

.conference .cost {
    font-size: .8rem;
}

.conference .weather {
    padding: .5rem 0;
    text-align: center;
}

.conference .temperature {
    font-size: .75rem;
}

.conference .show-more {
    font-size: .7rem;
    color: #999;
    font-weight: bold;
}

.conference .show-more-text {
    position: absolute;
    bottom: 0;
    left: 0;
}

.conference a {
    color: #333;
    display: block;
}

.conference a:hover {
    text-decoration: none;
}

.conference .session {
    font-size: .85rem;
    background-color: #df3136;
    padding: 0.4rem;
    border-radius: 4px;
}

.conference .details {
    background: #f1f1f1;
    min-height: 4rem;
    border-radius: 5px;
    color: #444;
}

.conference-details {
    line-height: 1.5rem;
    padding: .5rem 0;
    margin-top: 1rem;
    font-size: .8rem;
}

.conf-details {
    font-size: .9rem;
}

.conf-details h3 {
    font-size: .9rem;
}

a.conf-url {
    margin-bottom: 1.5rem;
    color: #DE5B49;
}

ul.conf-sessions {
    list-style: none;
    padding-left: 0;
}

ul.conf-sessions li {
    margin-bottom: .5rem;
}


/***** FOOTER *****/

footer {
    background: red;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    /*position: absolute;*/
    /*bottom: 0px; left: 0;*/
}

/***** FORM *****/

.ml-subscribe-form {
    padding-right: 25px;
}


@media (max-width: 768px) {
    .ml-subscribe-form button {
        margin-left: 10px;
    }

    .ml-subscribe-form .form-row {
        padding-left: 20px;
    }
}

.subscription-thank-you {
    display: none;
    font-size: .85rem;
    padding-top: .7rem;
    margin-top: .7rem;
}



/*@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&subset=cyrillic,cyrillic-ext,latin-ext');*/
/*#mlb2-8358162,*/
/*#mlb2-8358162 *,*/
/*#mlb2-8358162 a:hover,*/
/*#mlb2-8358162 a:visited,*/
/*#mlb2-8358162 a:focus,*/
/*#mlb2-8358162 a:active {*/
    /*overflow: visible;*/
    /*position: static;*/
    /*background: none;*/
    /*border: none;*/
    /*bottom: auto;*/
    /*clear: none;*/
    /*cursor: default;*/
    /*float: none;*/
    /*letter-spacing: normal;*/
    /*line-height: normal;*/
    /*text-align: left;*/
    /*text-indent: 0;*/
    /*text-transform: none;*/
    /*visibility: visible;*/
    /*white-space: normal;*/
    /*max-height: none;*/
    /*max-width: none;*/
    /*left: auto;*/
    /*min-height: 0;*/
    /*min-width: 0;*/
    /*right: auto;*/
    /*top: auto;*/
    /*width: auto;*/
    /*z-index: auto;*/
    /*text-shadow: none;*/
    /*box-shadow: none;*/
    /*outline: medium none;*/
/*}*/

/*#mlb2-8358162 a:hover {*/
    /*cursor: pointer !important;*/
/*}*/

/*#mlb2-8358162 h4 {*/
    /*font-weight: normal;*/
/*}*/

/*#mlb2-8358162 .subscribe-form {*/
    /*padding: 20px;*/
    /*border: 0px solid #F6F6F6 !important;*/
    /*background: #ffffff none !important;*/
    /*border-radius: 0px !important;*/
    /*box-sizing: border-box !important;*/
/*}*/

/*#mlb2-8358162 .ml-block-form {*/
    /*margin-bottom: 0px;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section {*/
    /*margin-bottom: 20px;*/
    /*width: 100%;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section.mb10 {*/
    /*margin-bottom: 10px;*/
    /*float: left;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section.mb0 {*/
    /*margin-bottom: 0px;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section h4 {*/
    /*margin: 0px 0px 10px 0px !important;*/
    /*padding: 0px !important;*/
    /*color: #656262 !important;*/
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-size: 13px !important;*/
    /*line-height: 100%;*/
    /*text-align: left !important;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section p,*/
/*#mlb2-8358162 .subscribe-form .form-section li {*/
    /*line-height: 150%;*/
    /*padding: 0px !important;*/
    /*margin: 0px 0px 10px 0px;*/
    /*color: #000000 !important;*/
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-size: 14px !important;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section a {*/
    /*font-size: 14px !important;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section .confirmation_checkbox {*/
    /*line-height: 150%;*/
    /*padding: 0px !important;*/
    /*margin: 0px 0px 15px 0px !important;*/
    /*color: #000000 !important;*/
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-size: 12px !important;*/
    /*font-weight: normal !important;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section .confirmation_checkbox input[type="checkbox"] {*/
    /*display: inline-block;*/
    /*margin-right: 5px !important;*/
    /*opacity: 1;*/
    /*-webkit-appearance: checkbox;*/
    /*-moz-appearance: checkbox;*/
    /*appearance: checkbox;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section .form-group {*/
    /*margin-bottom: 15px;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section .form-group label {*/
    /*float: left;*/
    /*margin-bottom: 10px;*/
    /*width: 100%;*/
    /*line-height: 100%;*/
    /*color: #000000 !important;*/
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-size: 14px !important;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section .checkbox {*/
    /*width: 100%;*/
    /*margin: 0px 0px 10px 0px;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section .checkbox label {*/
    /*color: #000000 !important;*/
    /*font-family: 'Open Sans', sans-serif !important;*/
    /*font-size: 14px !important;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section .checkbox input {*/
    /*margin: 0px 5px 0px 0px;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section .checkbox input[type="checkbox"] {*/
    /*display: inline-block;*/
    /*opacity: 1;*/
    /*-webkit-appearance: checkbox;*/
    /*-moz-appearance: checkbox;*/
    /*appearance: checkbox;*/
/*}*/

/*#mlb2-8358162.ml-subscribe-form .form-group .form-control {*/
    /*width: 100%;*/
    /*font-size: 13px;*/
    /*padding: 10px 10px;*/
    /*height: auto;*/
    /*font-family: Arial;*/
    /*border-radius: 3px;*/
    /*border: 1px solid #cccccc !important;*/
    /*color: #000000 !important;*/
    /*background-color: #FFFFFF !important;*/
    /*-webkit-box-sizing: border-box;*/
    /*-moz-box-sizing: border-box;*/
    /*box-sizing: border-box;*/
    /*clear: left;*/
/*}*/

/*#mlb2-8358162.ml-subscribe-form button {*/
    /*border: none !important;*/
    /*cursor: pointer !important;*/
    /*width: 100% !important;*/
    /*border-radius: 3px !important;*/
    /*height: 37.5px !important;*/
    /*background-color: #E74C3C !important;*/
    /*color: #FFFFFF !important;*/
    /*font-family: 'Arial', sans-serif !important;*/
    /*font-size: 15px !important;*/
    /*text-align: center !important;*/
    /*padding: 0 !important;*/
    /*margin: 0 !important;*/
    /*position: relative!important;*/
/*}*/

/*#mlb2-8358162.ml-subscribe-form button.gradient-on {*/
    /*background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);*/
    /*background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);*/
    /*background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);*/
    /*background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%);*/
/*}*/

/*#mlb2-8358162.ml-subscribe-form button.gradient-on:hover {*/
    /*background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);*/
    /*background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);*/
    /*background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);*/
    /*background: linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.3) 100%);*/
/*}*/

/*#mlb2-8358162.ml-subscribe-form button[disabled] {*/
    /*cursor: not-allowed!important;*/
/*}*/

/*#mlb2-8358162.ml-subscribe-form .form-section.ml-error label {*/
    /*color: red!important;*/
/*}*/

/*#mlb2-8358162.ml-subscribe-form .form-group.ml-error label {*/
    /*color: red!important;*/
/*}*/

/*#mlb2-8358162.ml-subscribe-form .form-group.ml-error .form-control {*/
    /*border-color: red!important;*/
/*}*/

/*@media (max-width: 768px) {*/
    /*#mlb2-8358162 {*/
        /*width: 100% !important;*/
    /*}*/
    /*#mlb2-8358162 form.ml-block-form,*/
    /*#mlb2-8358162.ml-subscribe-form .subscribe-form {*/
        /*width: 100% !important;*/
    /*}*/
/*}*/

/*#mlb2-8358162 .subscribe-form.horizontal {*/
    /*padding-bottom: 0px;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section.horizontal {*/
    /*float: left;*/
    /*margin-bottom: 5px;*/
    /*width: 70%;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section.horizontal .form-group {*/
    /*float: left;*/
    /*width: 100%;*/
    /*padding-right: 10px;*/
    /*box-sizing: border-box;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section.horizontal .form-group .form-control {*/
    /*height: 37.5px;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .ml-form-visible-xs {*/
    /*display: none;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section.horizontal.ml-button-position {*/
    /*width: 30%;*/
    /*padding: 0;*/
/*}*/

/*#mlb2-8358162 .subscribe-form .form-section.horizontal.ml-button-position.top-padding {*/
    /*padding-top: 24px;*/
/*}*/

/*@media (max-width: 768px) {*/
    /*#mlb2-8358162.ml-subscribe-form .subscribe-form .form-section.horizontal {*/
        /*float: none;*/
    /*}*/
    /*#mlb2-8358162.ml-subscribe-form .subscribe-form .form-section.horizontal,*/
    /*#mlb2-8358162.ml-subscribe-form .subscribe-form .form-section.horizontal.ml-button-position,*/
    /*#mlb2-8358162.ml-subscribe-form .subscribe-form .form-section.horizontal .form-group {*/
        /*width: 100%;*/
        /*padding: 0;*/
    /*}*/
    /*#mlb2-8358162 .subscribe-form .form-section.horizontal.ml-button-position {*/
        /*margin-bottom: 20px;*/
    /*}*/
    /*#mlb2-8358162 .subscribe-form .ml-form-visible-xs {*/
        /*display: block;*/
    /*}*/
    /*#mlb2-8358162 .subscribe-form .ml-form-hidden-xs {*/
        /*display: none;*/
    /*}*/
/*}*/

